data/tfc/loot_tables/panning/deposits/cassiterite_andesite.json
data/tfc/loot_tables/panning/deposits/cassiterite_basalt.json
data/tfc/loot_tables/panning/deposits/cassiterite_chalk.json
data/tfc/loot_tables/panning/deposits/cassiterite_chert.json
data/tfc/loot_tables/panning/deposits/cassiterite_claystone.json
data/tfc/loot_tables/panning/deposits/cassiterite_conglomerate.json
data/tfc/loot_tables/panning/deposits/cassiterite_dacite.json
data/tfc/loot_tables/panning/deposits/cassiterite_diorite.json
data/tfc/loot_tables/panning/deposits/cassiterite_dolomite.json
data/tfc/loot_tables/panning/deposits/cassiterite_gabbro.json
data/tfc/loot_tables/panning/deposits/cassiterite_gneiss.json
data/tfc/loot_tables/panning/deposits/cassiterite_granite.json
data/tfc/loot_tables/panning/deposits/cassiterite_limestone.json
data/tfc/loot_tables/panning/deposits/cassiterite_marble.json
data/tfc/loot_tables/panning/deposits/cassiterite_phyllite.json
data/tfc/loot_tables/panning/deposits/cassiterite_quartzite.json
data/tfc/loot_tables/panning/deposits/cassiterite_rhyolite.json
data/tfc/loot_tables/panning/deposits/cassiterite_schist.json
data/tfc/loot_tables/panning/deposits/cassiterite_shale.json
data/tfc/loot_tables/panning/deposits/cassiterite_slate.json
data/tfc/loot_tables/panning/deposits/native_copper_andesite.json
data/tfc/loot_tables/panning/deposits/native_copper_basalt.json
data/tfc/loot_tables/panning/deposits/native_copper_chalk.json
data/tfc/loot_tables/panning/deposits/native_copper_chert.json
data/tfc/loot_tables/panning/deposits/native_copper_claystone.json
data/tfc/loot_tables/panning/deposits/native_copper_conglomerate.json
data/tfc/loot_tables/panning/deposits/native_copper_dacite.json
data/tfc/loot_tables/panning/deposits/native_copper_diorite.json
data/tfc/loot_tables/panning/deposits/native_copper_dolomite.json
data/tfc/loot_tables/panning/deposits/native_copper_gabbro.json
data/tfc/loot_tables/panning/deposits/native_copper_gneiss.json
data/tfc/loot_tables/panning/deposits/native_copper_granite.json
data/tfc/loot_tables/panning/deposits/native_copper_limestone.json
data/tfc/loot_tables/panning/deposits/native_copper_marble.json
data/tfc/loot_tables/panning/deposits/native_copper_phyllite.json
data/tfc/loot_tables/panning/deposits/native_copper_quartzite.json
data/tfc/loot_tables/panning/deposits/native_copper_rhyolite.json
data/tfc/loot_tables/panning/deposits/native_copper_schist.json
data/tfc/loot_tables/panning/deposits/native_copper_shale.json
data/tfc/loot_tables/panning/deposits/native_copper_slate.json
data/tfc/loot_tables/panning/deposits/native_gold_andesite.json
data/tfc/loot_tables/panning/deposits/native_gold_basalt.json
data/tfc/loot_tables/panning/deposits/native_gold_chalk.json
data/tfc/loot_tables/panning/deposits/native_gold_chert.json
data/tfc/loot_tables/panning/deposits/native_gold_claystone.json
data/tfc/loot_tables/panning/deposits/native_gold_conglomerate.json
data/tfc/loot_tables/panning/deposits/native_gold_dacite.json
data/tfc/loot_tables/panning/deposits/native_gold_diorite.json
data/tfc/loot_tables/panning/deposits/native_gold_dolomite.json
data/tfc/loot_tables/panning/deposits/native_gold_gabbro.json
data/tfc/loot_tables/panning/deposits/native_gold_gneiss.json
data/tfc/loot_tables/panning/deposits/native_gold_granite.json
data/tfc/loot_tables/panning/deposits/native_gold_limestone.json
data/tfc/loot_tables/panning/deposits/native_gold_marble.json
data/tfc/loot_tables/panning/deposits/native_gold_phyllite.json
data/tfc/loot_tables/panning/deposits/native_gold_quartzite.json
data/tfc/loot_tables/panning/deposits/native_gold_rhyolite.json
data/tfc/loot_tables/panning/deposits/native_gold_schist.json
data/tfc/loot_tables/panning/deposits/native_gold_shale.json
data/tfc/loot_tables/panning/deposits/native_gold_slate.json
data/tfc/loot_tables/panning/deposits/native_silver_andesite.json
data/tfc/loot_tables/panning/deposits/native_silver_basalt.json
data/tfc/loot_tables/panning/deposits/native_silver_chalk.json
data/tfc/loot_tables/panning/deposits/native_silver_chert.json
data/tfc/loot_tables/panning/deposits/native_silver_claystone.json
data/tfc/loot_tables/panning/deposits/native_silver_conglomerate.json
data/tfc/loot_tables/panning/deposits/native_silver_dacite.json
data/tfc/loot_tables/panning/deposits/native_silver_diorite.json
data/tfc/loot_tables/panning/deposits/native_silver_dolomite.json
data/tfc/loot_tables/panning/deposits/native_silver_gabbro.json
data/tfc/loot_tables/panning/deposits/native_silver_gneiss.json
data/tfc/loot_tables/panning/deposits/native_silver_granite.json
data/tfc/loot_tables/panning/deposits/native_silver_limestone.json
data/tfc/loot_tables/panning/deposits/native_silver_marble.json
data/tfc/loot_tables/panning/deposits/native_silver_phyllite.json
data/tfc/loot_tables/panning/deposits/native_silver_quartzite.json
data/tfc/loot_tables/panning/deposits/native_silver_rhyolite.json
data/tfc/loot_tables/panning/deposits/native_silver_schist.json
data/tfc/loot_tables/panning/deposits/native_silver_shale.json
data/tfc/loot_tables/panning/deposits/native_silver_slate.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_andesite.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_basalt.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_chalk.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_chert.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_claystone.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_conglomerate.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_dacite.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_diorite.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_dolomite.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_gabbro.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_gneiss.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_granite.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_limestone.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_marble.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_phyllite.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_quartzite.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_rhyolite.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_schist.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_shale.json
data/tfc/loot_tables/sluicing/deposits/cassiterite_slate.json
data/tfc/loot_tables/sluicing/deposits/native_copper_andesite.json
data/tfc/loot_tables/sluicing/deposits/native_copper_basalt.json
data/tfc/loot_tables/sluicing/deposits/native_copper_chalk.json
data/tfc/loot_tables/sluicing/deposits/native_copper_chert.json
data/tfc/loot_tables/sluicing/deposits/native_copper_claystone.json
data/tfc/loot_tables/sluicing/deposits/native_copper_conglomerate.json
data/tfc/loot_tables/sluicing/deposits/native_copper_dacite.json
data/tfc/loot_tables/sluicing/deposits/native_copper_diorite.json
data/tfc/loot_tables/sluicing/deposits/native_copper_dolomite.json
data/tfc/loot_tables/sluicing/deposits/native_copper_gabbro.json
data/tfc/loot_tables/sluicing/deposits/native_copper_gneiss.json
data/tfc/loot_tables/sluicing/deposits/native_copper_granite.json
data/tfc/loot_tables/sluicing/deposits/native_copper_limestone.json
data/tfc/loot_tables/sluicing/deposits/native_copper_marble.json
data/tfc/loot_tables/sluicing/deposits/native_copper_phyllite.json
data/tfc/loot_tables/sluicing/deposits/native_copper_quartzite.json
data/tfc/loot_tables/sluicing/deposits/native_copper_rhyolite.json
data/tfc/loot_tables/sluicing/deposits/native_copper_schist.json
data/tfc/loot_tables/sluicing/deposits/native_copper_shale.json
data/tfc/loot_tables/sluicing/deposits/native_copper_slate.json
data/tfc/loot_tables/sluicing/deposits/native_gold_andesite.json
data/tfc/loot_tables/sluicing/deposits/native_gold_basalt.json
data/tfc/loot_tables/sluicing/deposits/native_gold_chalk.json
data/tfc/loot_tables/sluicing/deposits/native_gold_chert.json
data/tfc/loot_tables/sluicing/deposits/native_gold_claystone.json
data/tfc/loot_tables/sluicing/deposits/native_gold_conglomerate.json
data/tfc/loot_tables/sluicing/deposits/native_gold_dacite.json
data/tfc/loot_tables/sluicing/deposits/native_gold_diorite.json
data/tfc/loot_tables/sluicing/deposits/native_gold_dolomite.json
data/tfc/loot_tables/sluicing/deposits/native_gold_gabbro.json
data/tfc/loot_tables/sluicing/deposits/native_gold_gneiss.json
data/tfc/loot_tables/sluicing/deposits/native_gold_granite.json
data/tfc/loot_tables/sluicing/deposits/native_gold_limestone.json
data/tfc/loot_tables/sluicing/deposits/native_gold_marble.json
data/tfc/loot_tables/sluicing/deposits/native_gold_phyllite.json
data/tfc/loot_tables/sluicing/deposits/native_gold_quartzite.json
data/tfc/loot_tables/sluicing/deposits/native_gold_rhyolite.json
data/tfc/loot_tables/sluicing/deposits/native_gold_schist.json
data/tfc/loot_tables/sluicing/deposits/native_gold_shale.json
data/tfc/loot_tables/sluicing/deposits/native_gold_slate.json
data/tfc/loot_tables/sluicing/deposits/native_silver_andesite.json
data/tfc/loot_tables/sluicing/deposits/native_silver_basalt.json
data/tfc/loot_tables/sluicing/deposits/native_silver_chalk.json
data/tfc/loot_tables/sluicing/deposits/native_silver_chert.json
data/tfc/loot_tables/sluicing/deposits/native_silver_claystone.json
data/tfc/loot_tables/sluicing/deposits/native_silver_conglomerate.json
data/tfc/loot_tables/sluicing/deposits/native_silver_dacite.json
data/tfc/loot_tables/sluicing/deposits/native_silver_diorite.json
data/tfc/loot_tables/sluicing/deposits/native_silver_dolomite.json
data/tfc/loot_tables/sluicing/deposits/native_silver_gabbro.json
data/tfc/loot_tables/sluicing/deposits/native_silver_gneiss.json
data/tfc/loot_tables/sluicing/deposits/native_silver_granite.json
data/tfc/loot_tables/sluicing/deposits/native_silver_limestone.json
data/tfc/loot_tables/sluicing/deposits/native_silver_marble.json
data/tfc/loot_tables/sluicing/deposits/native_silver_phyllite.json
data/tfc/loot_tables/sluicing/deposits/native_silver_quartzite.json
data/tfc/loot_tables/sluicing/deposits/native_silver_rhyolite.json
data/tfc/loot_tables/sluicing/deposits/native_silver_schist.json
data/tfc/loot_tables/sluicing/deposits/native_silver_shale.json
data/tfc/loot_tables/sluicing/deposits/native_silver_slate.json
data/tfc/trim_material/amethyst.json
data/tfc/trim_material/bismuth.json
data/tfc/trim_material/diamond.json
data/tfc/trim_material/emerald.json
data/tfc/trim_material/gold.json
data/tfc/trim_material/lapis_lazuli.json
data/tfc/trim_material/opal.json
data/tfc/trim_material/pyrite.json
data/tfc/trim_material/rose_gold.json
data/tfc/trim_material/ruby.json
data/tfc/trim_material/sapphire.json
data/tfc/trim_material/silver.json
data/tfc/trim_material/sterling_silver.json
data/tfc/trim_material/topaz.json
data/tfc/worldgen/configured_feature/diamond_volcano_fissure.json
data/tfc/worldgen/configured_feature/emerald_empty_hot_spring.json
data/tfc/worldgen/configured_feature/emerald_hot_spring.json
data/tfc/worldgen/configured_feature/sapphire_empty_hot_spring.json
data/tfc/worldgen/configured_feature/sapphire_hot_spring.json
data/tfc/worldgen/configured_feature/topaz_volcano_fissure.json
